body {
    background-color: black;
}

img.graph {
    margin: 20px;
    border: none;
}

#container {
    float: left;
    margin-left: 20px;
}

#container form {
    float: left;
}

#container input {
    float: left;
    margin-left: auto;
    margin-right: auto;
    width: 800px;;
}
