* {
    background-color: black;
}

#search-box {
    background-color: white;
    color: black;
    margin-top: 2px;
}

#container {
    margin-top: 60px;
}

#container img {
    margin: 5px;
    border: none;
}

div.graph-row {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
